<!DOCTYPE HTML>
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almanac.JS</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Rubik|Ultra" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt|Sue+Ellen+Francisco" rel="stylesheet">
    <!-- glyphicons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="grey darken-4">
  
 <header> 
 <nav class="">  
  <div class="navbar-fixed">
    <div class="nav-wrapper center-text"><!--Added "center-text"-->
         <a href="#" class="brand-logo">AlmanacJS</a> 
         <a href="#" data-target="mobile-nav"
         class="sidenav-trigger">
            <i class="material-icons">menu</i>
         </a>
         <div id="pages">
            <i class="material-icons">pages</i>
         </div>
        </div>
    </div>
 </nav>
 
    <div class="row" id="command-line">
      <div class="container valign-wrapper">
        <div class="input-field col s8 offset-s2">
          <input id="command" type="text">
          <label for="command">Search methods</label>
        </div>
        <span class="suffix">(&nbsp;)</span>
      </div>
    </div>
  </header>



      {{!-- dont ask me why... but this needs to be body... handlebars will get the 

        handlebars file to pull in from what we call from the route 
        in this case we rendered thru8 method... so
       --}}
      {{{body}}}
        
      
    
     


  <footer class="row">
      <div class="valign-wrapper" id="profile">
    <i class="fas fa-circle center" id="user"></i>
    <span class="center">&#169; 2018 FourTress</span>
    </div>

    <div class="valign-wrapper" id="posts">
    <i class="fas fa-book"></i>
    <span class="center">my comments</span>
    </div>
  </footer>

    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script type="text/javascript" src="./assets/javascript/logic.js"></script>


    
</body>

</html>
