<!DOCTYPE HTML>

<html>
<head> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    

    <title>Fourtress</title>

    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">

   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Rubik|Ultra" rel="stylesheet">
    
    <!-- glyphicons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="grey darken-4">
  
 <header> 
 <nav class="">  
  <div class="navbar-fixed">
    <div class="nav-wrapper">
         <a href="#" class="brand-logo">AlmanacJS</a> 
         <a href="#" data-target="mobile-nav"
         class="sidenav-trigger">
            <i class="material-icons">menu</i>
         </a>
         <div id="pages">
            <i class="material-icons">pages</i>
         </div>
        </div>
    </div>
 </nav>
 
    <div class="row" id="command-line">
      <div class="container valign-wrapper">
        <div class="input-field col s8 offset-s2">
          <input id="command" type="text">
          <label for="command">Search methods</label>
        </div>
        <span class="suffix">(&nbsp;)</span>
      </div>
    </div>
  </header>
    
    <main class="center">

      <div class="row">

        <div id="main-header" class="center">
          
          <div id="thumbs-up" class = "col s4 m4 l4">
            <i class="fas fa-thumbs-up" style="font-size:24px"></i><span id="likes">#</span>
          </div>
          
          <div class = "col s4 m4 l4">
            <h1 class="method-title">This Method()</h1>
          </div>

         <div id="thumbs-down" class = "col s4 m4 l4">
            <i class="fas fa-thumbs-down" style="font-size:24px"></i><span id="dislikes">#</span>
          </div>

        </div>

        <div id="next"><i class="fas fa-arrow-circle-right"" style="font-size:30px"></i></div>

      </div>
      <div class="row" id="card-wrapper">
        <div class="row" id="general">
          <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">General</span>
                <p>Used on: Arrays</p>
                <p>arguments it takes: <span style="font-style: italic; color: orange">error, request,response</span></p>
              </div>
            </div>
          </div>  
        </div>

        <div class="row" id="syntax">
        <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Syntax</span>
                <p>Look at our syntax</p>
              </div>
            </div>
          </div>
      </div>

        <div class="row" id="description">
          <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Description</span>
                <p>This is what this method does/examples</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="examples">
        <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Text Examples</span>
                <p>Text output</p>
              </div>
            </div>
          </div>
      </div>

        <div class="row" id="comments">
          <div class="col s12 m6 offset-m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Comments</span>
                <p>Mario: Comment 1</p>
                <br>
                <br>
                <p style="font-size: 10px">Juan: this is a Reply to Comment 1</p>
                <br />
                <br />
                <a href="#">Reply</a>
              </div>
            </div>
          </div>
        </div>
</div>
      
    </main>


  <footer class="row">
      <div class="valign-wrapper" id="profile">
    <i class="fas fa-circle center" id="user"></i>
    <span class="center">&#169; 2018 FourTress</span>
    </div>

    <div class="valign-wrapper" id="posts">
    <i class="fas fa-book"></i>
    <span class="center">my comments</span>
    </div>
  </footer>

    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script type="text/javascript" src="./assets/javascript/logic.js"></script>


    
</body>

</html>
