html {
  height: 100%;
  vertical-align: bottom;
}

body {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  background: url("../images/crop_maze.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


#likeSpan, #dislikeSpan {
  font-size: 26px;
  margin-bottom: 15px;
  text-shadow: 2px 2px black;
}

div.brand-logo {
   background-color: #424242;
    position: center;
    text-align: center;
    color: #BF982C;
    display: inline-block;
    font-size: 6rem;
    padding-bottom: 2%;
    width: 100%;
}

#pages {
  padding: 20px 0 0 0;
}

/*---------------------------------------------------------------*/

#command-row {
 /*height: 100%;*/
 margin: 0 0 0 0;
}
#command-row {
 /*height: 100%;*/
 margin: 0 0 0 0;
}
#command-line{
  background: -webkit-linear-gradient(#424242, #212121);
  background: -o-linear-gradient(#424242, #212121);
  background: linear-gradient(#424242, #212121);
  margin: 0 0 0 0;
}

.prefix {
  color: lightgray;
}

#command {
  caret-color: #FFC72C;
  line-height: 50px;
  font-size: 40px;
  /*padding-bottom: 10px;*/
  opacity: .7;
  color: white;
}

#command:active {

  }
  /* label color */
   .input-field label {
     color: lightgray;
     font-size: 12px;
   }
   .active {
    color: #FFC72C !important;
   }

   input[type=text]:not(.browser-default):focus:not([readonly]) {
      border-bottom: 1px solid #FFC72C; 
      -webkit-box-shadow: 0 1px 0 0 #FFC72C; 
      box-shadow: 0 1px 0 0 #FFC72C;
   }

.suffix {
  color: lightgray;
  font-size: 20px;
}
/*----------------------------------------------*/

#main-header {
  color: #fafafa;
  position: center;
}

#thumbs-up{
  padding: 75px 0 0 0;
}

#thumbs-down{
  padding: 75px 0 0 0;
}

#prev {
  float: left;
  color: #fafafa;
  font-size: 18px;
  margin: 0 30px 0 0;
}

.method-title {
  color: #fafafa;
  text-shadow: 2px 2px black;
  padding-bottom: 2%;
}

main {
  position: relative;
}

#next {
  top: 60%;
  right: 10%;
  color: #fafafa;
  font-size: 18px;
  margin: 0 30px 0 0;
  position: fixed;
}




/*---------------footer-----------------------*/

footer{
  background-color: rgba(0, 0, 0, 0);
  position: fixed;;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

/*user profile pic/cir */
footer > div > i {
  font-size: 40px; 
  /*padding: 15px 25px;*/
}

/*profile name*/
footer > div > span {
  padding: 0 0 0 10px;
}

#profile {

  display: inline-flex;
}
#posts {
  float: right;
  display: inline-flex;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}